.productCard {
    display: flex;
    align-items: center;
    /* Дополнительные стили */
    padding: 10px; /* Добавляем отступы вокруг карточки */
    background-color: #f5f5f5; /* Добавляем фоновый цвет карточки */
    border-radius: 5px; /* Добавляем скругленные углы карточки */
}

.image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
    /* Дополнительные стили */
}

.title {
    margin: 0;
    font-size: 16px;
    /* Дополнительные стили */
}

.brand {
    margin-right: 10px;
    /* Дополнительные стили */
}

.price {
    margin-right: 10px;
    /* Дополнительные стили */
}

.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    /* Дополнительные стили */
}

/* Дополнительные стили для таблицы */
.tableHead {
    background-color: #f5f5f5;
    font-weight: bold;
}