.app-wrapper {
    display: grid;
    grid-template-rows: auto 1fr; /* первая строка для Header, вторая строка для контента */
    height: 100vh;
    overflow: hidden; /* для переполнения содержимого */
}

.sidebar-content-wrapper {
    display: flex;
}

.content-wrapper {
    grid-row: 2; /* поместить контент во вторую строку */
    padding-top: 64px; /* высота Header + любая дополнительная отступ */
    overflow-y: auto; /* добавьте прокрутку, если контент слишком большой для вмещения */
}