/* Reset и базовые стили */
html,
body {

  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F6FA;
}

/* Стили для элемента code */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.app-wrapper {
  display: grid;
  grid-template-rows: auto 1fr; /* первая строка для Header, вторая строка для контента */
  height: 100vh;
  /* для переполнения содержимого */
}

.sidebar-content-wrapper {
  display: flex;
}

.content-wrapper {
  grid-row: 2; /* поместить контент во вторую строку */
  padding-top: 64px; /* высота Header + любая дополнительная отступ */
  overflow-y: auto; /* добавьте прокрутку, если контент слишком большой для вмещения */
}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1920px;
  margin: 0 auto;
}
